[submodule "eless"]
	path = eless
	url = https://github.com/kaushalmodi/eless
[submodule "tmux/plugins/tpm"]
        path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/plugins/tmux-battery"]
	path = tmux/plugins/tmux-battery
	url = https://github.com/tmux-plugins/tmux-battery
[submodule "tmux/plugins/tmux-mem-cpu-load"]
	path = tmux/plugins/tmux-mem-cpu-load
	url = https://github.com/thewtex/tmux-mem-cpu-load
[submodule "tmux/plugins/tmux-logging"]
	path = tmux/plugins/tmux-logging
	url = https://github.com/tmux-plugins/tmux-logging
[submodule "tmux/plugins/tmux-prefix-highlight"]
        path = tmux/plugins/tmux-prefix-highlight
        url = https://github.com/tmux-plugins/tmux-prefix-highlight
[submodule "tmux/plugins/tmux-better-mouse-mode"]
	path = tmux/plugins/tmux-better-mouse-mode
	url = https://github.com/NHDaly/tmux-better-mouse-mode
[submodule "magit/packages/dash.el"]
	path = magit/packages/dash.el
	url = https://github.com/magnars/dash.el
[submodule "magit/packages/ghub"]
	path = magit/packages/ghub
	url = https://github.com/magit/ghub
[submodule "magit/packages/graphql.el"]
	path = magit/packages/graphql.el
	url = https://github.com/vermiculus/graphql.el
[submodule "magit/packages/magit"]
	path = magit/packages/magit
	url = https://github.com/magit/magit
[submodule "magit/packages/magit-org-todos.el"]
	path = magit/packages/magit-org-todos.el
	url = https://github.com/danielma/magit-org-todos.el
[submodule "magit/packages/magit-popup"]
	path = magit/packages/magit-popup
	url = https://github.com/magit/magit-popup
[submodule "magit/packages/treepy.el"]
	path = magit/packages/treepy.el
	url = https://github.com/volrath/treepy.el
[submodule "magit/packages/with-editor"]
	path = magit/packages/with-editor
	url = https://github.com/magit/with-editor
[submodule "magit/packages/transient"]
	path = magit/packages/transient
	url = https://github.com/magit/transient
[submodule "magit/packages/hydra"]
	path = magit/packages/hydra
	url = https://github.com/abo-abo/hydra/
[submodule "oh-my-bash"]
	path = oh-my-bash
	url = https://github.com/ohmybash/oh-my-bash
[submodule "magit/packages/compat"]
	path = magit/packages/compat
	url = https://github.com/emacs-compat/compat
[submodule "magit/packages/llama"]
	path = magit/packages/llama
	url = https://github.com/tarsius/llama
[submodule "yazi/flavors/nightfly.yazi"]
	path = yazi/flavors/nightfly.yazi
	url = https://github.com/tkapias/nightfly.yazi.git
